.container {
  width: 100%;
  height: 100%;
  background-color: #0a0e27;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #1a1f3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #00d4ff;
}

.task-input {
  width: 100%;
  height: 50px;
  background-color: #141829;
  display: flex;
  padding: 5px;
}

.input-field {
  width: 90%;
  height: 40px;
  background-color: #1a1f3a;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
}

.add-btn {
  width: 35px;
  height: 40px;
  background-color: #00d4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.btn-text {
  color: #0a0e27;
  font-size: 20px;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-item {
  width: 100%;
  padding: 5px;
}

.task-row {
  width: 100%;
  height: 45px;
  background-color: #141829;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 3px;
}

.checkbox {
  width: 25px;
  height: 25px;
  background-color: #2a2f4a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.check-mark {
  color: #00d4ff;
  font-size: 16px;
}

.task-text {
  flex: 1;
  font-size: 14px;
  padding: 0px 10px;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background-color: #ff4444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.del-text {
  color: #ffffff;
  font-size: 18px;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #1a1f3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-count {
  font-size: 12px;
  color: #8a9aaa;
}
