.root {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hello {
  color: #00d4ff;
  font-size: 26px;
}
.sub {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
}
